################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/.NetTraining/FileContentIndex/f3817ca2-1ac6-45c8-aafd-5f127f73da1f.vsidx
/.vs/.NetTraining/FileContentIndex/4088e159-859f-4676-b00d-bfc10ab69cc9.vsidx
/.gitignore
/.vs/.NetTraining/FileContentIndex/a102ce19-e377-4276-ae06-9df72872503e.vsidx
/.vs/.NetTraining/FileContentIndex/3bdecf6a-df6e-429b-bd29-8f8f149db52b.vsidx
/.vs/.NetTraining/FileContentIndex/6bf010fe-6066-492a-a33b-64108975976f.vsidx
